<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div id="test">
  This is test div
  <div id="case">
    This is the case div
  </div>
  <%= content_tag(:div, "", data:{
    controller:"test"
  }) %>

</div>